button.cta {
  border: none;
  background-color: var(--lemon);
  padding: 1rem 2rem;
  border-radius: var(--cornerRadiusSm);
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  height: 3rem;
  transition: all 0.3s ease;
}

button.cta:hover {
  background-color: var(--charcoal);
  color: var(--leafLight);
}

@media screen and (min-width: 768px) {
  button.cta {
    width: auto;
  }
}
