header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 5rem; 80px */
}

header a#logo {
  height: 80px;
  padding-top: 1.25rem;
}

button#mobile-nav {
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  button#mobile-nav {
    display: none;
  }
}
