footer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--global-padding);
  max-width: var(--tenCol);
  padding: 4rem var(--global-padding);
}

#footer-logo {
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#footer-logo img {
  max-width: 4rem;
  height: auto;
}

.copyright {
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}

/* FOOTER DOORMAT NAV */
footer .doormat-nav li {
  margin: 0;
}
footer .doormat-nav a {
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--leaf);
  display: block;
}

footer .links {
  display: flex;
  gap: 1rem;
}

footer .links a {
  color: var(--leaf);
}
footer .links a:hover {
  color: var(--salmon);
}

@media screen and (min-width: 768px) {
  footer {
    grid-template-columns: 5fr 2fr 3fr 2fr;
  }
  #footer-logo {
    justify-self: left;
    align-items: flex-start;
  }
  #footer-logo img {
    max-width: 5rem;
  }

  footer .doormat-nav a {
    display: block;
    padding: 0.25rem 0;
    border-bottom: none;
  }
}
