@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700;800&family=Markazi+Text:wght@400;500&display=swap');

/* VARS */
:root {
  /* SIZES */
  --desktop: 81rem; /* 1296px */
  --tenCol: 67rem; /* 1072px */
  --global-padding: 1.5rem;

  /* COLORS */
  --lemon: #f4ce14;
  --leaf: #495e57;
  --leafLight: #edefee;
  --charcoal: #333;
  --salmon: #ee9972;
  --lightSalmon: #fbdabb;

  /* TYPE */
  --karla: 'Karla', sans-serif;
  --markazi: 'Markazi Text', serif;

  /* FONT SIZES */
  --baseSize: 1rem; /*16px*/
  --displayTitle: 4rem; /* 64px */
  --sectionTitleDisplay: 3rem; /* 56px */
  --subTitle: 2.5rem; /* 40px */
  --leadText: 1.125rem; /* 18px */
  --sectionTitle: 1.25rem; /* 20px */
  --sectionCategories: var(--baseSize); /* 1rem */
  --cardTitle: var(--leadText);
  --leading: 1.5rem;

  /* BORDER RADIUS */
  --cornerRadius: var(--baseSize);
  --cornerRadiusSm: 0.5rem;
}
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--karla);
  color: var(--charcoal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: var(--leading);
}

h1,
h2,
h3 {
  font-family: var(--markazi);
  font-weight: 500;
}

h1 {
  font-size: var(--displayTitle);
  color: var(--lemon);
  line-height: var(--displayTitle);
}
h2 {
  font-size: var(--sectionTitleDisplay);
  line-height: var(--subTitle);
  margin-bottom: 2.5rem;
}
h3 {
  font-size: 2.5rem;
  line-height: var(--subTitle);
}

h4 {
  font-size: var(--cardTitle);
  margin-bottom: var(--baseSize);
}
h5 {
  font-size: var(--baseSize);
}

li:not(:last-child),
p:not(:last-child) {
  margin-bottom: var(--global-padding);
}

a {
  text-decoration: none;
  color: var(--charcoal);
  transition: color 0.3s ease;
}

a:hover,
a.active {
  color: var(--salmon);
}

address {
  font-style: normal;
}

header,
footer,
section,
.container {
  padding: 0 var(--global-padding);
  max-width: var(--desktop);
  width: 100%;
  margin: 0 auto;
}

.subTitle {
  font-size: var(--subTitle);
  font-family: var(--markazi);
}

.lead-text {
  font-size: var(--leadText);
}
.section-title {
  font-size: var(--sectionTitle);
  font-weight: 800;
  text-transform: uppercase;
}

/* SET UP PAGE SO THE MAIN SECTION ALWAYS PUSHES THE 
FOOTER TO THE BOTTOM */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
footer {
  flex-shrink: 0;
}
main {
  flex: 1 0 auto;
}

@media screen and (min-width: 768px) {
  button.cta {
    width: auto;
  }
}
